# Node.js

# Dependency directories
node_modules/

# Logs
logs/
*.log

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Dependency directories
.npm
.pnp
.pnp.js

# Optional npm cache directory
.npm

# Testing
coverage/

# Build artifacts
build/
dist/

# Python

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Python virtual environment
venv/
.venv/

runs/